<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="nodelet_manager" default="velodyne_nodelet_manager" />
  <arg name="enable_floor_detection" default="false" />
  <arg name="enable_gps" default="false" />
  <arg name="enable_imu_acc" default="false" />
  <arg name="enable_imu_ori" default="false" />

  <!-- hdl_graph_slam will publish its estimated pose from odom to base_link within the following structure -->
  <!-- ***** map -> odom -> base_link -> velodyne ***** -->
  <!-- these can be named in the following -->
  <!-- topic for hdl to find velodyne points -->
  <arg name="points_topic" default="/velodyne_points" />
  <!-- what should the map frame be called -->
  <arg name="map_frame_id" default="map" />
  <!-- what should the base link frame be called -->
  <arg name="base_link_frame_id" default="pelvis" />
  <!-- what should the odom frame be called -->
  <arg name="lidar_odom_frame_id" default="odom" />

  <!-- hdl_graph_slam will also publish an odom message -->
  <!-- what should the topic be for odom messages published by hdl-graph-slam -->
  <arg name="published_odom_topic" default="/odom" />

  <!-- optional arguments -->
  <arg name="enable_robot_odometry_init_guess" default="false" />
  <arg name="robot_odom_frame_id" default="robot_odom" />

  <!-- transformation between lidar and base_link -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="lidar2base_publisher" args="0 0 0 0 0 0 $(arg base_link_frame_id) D435_head_camera_link 10" /> -->

  <!-- in case you use velodyne_driver, comment out the following line -->
   <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/> 


</launch>
